{
    "singleQuote": true,
    "semi": false,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "trailingComma": "none",
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        }
    ]
}
